.auth-continue{
margin-top: 50px;
}
.auth-form-tittle {
margin-bottom: 50px;
margin-top: 50px;
}
.a-forgot-password {
 text-decoration: none;
}
.form-logo {
margin-top: 20px;
}
.login-form , .signup-form {
margin-left: 50px;
margin-right: 50px;
}
.padding-0 {
 padding:unset;
}
.sign-up-link,.sign-in-link {
 color: #A7FAE6;
}
.sign-up-note{
margin-top: 20px;
}
.auth-background-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.login , .signup{
background-image:url('/images/authentication-background-img.jpg');
}
.section-login , .section-signup{
background: #FFFFFF;
margin-bottom: 20%;
margin-top: 8%;
}

/* checkou css start */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/*Background color*/
#grad1 {
    background-color: : #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA);
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    padding: 0 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    border: 1px solid #EDEDED;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0;
}

/*Blue Buttons*/
#msform .action-button {
    width: 100px;
    background: #000000;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Previous Buttons*/


#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 50%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: fontAwesome;
    content: "\f2c0";
}

#progressbar #shipping:before {
    font-family: fontAwesome;
    content: "\f21a";
}

#progressbar #payment:before {
    font-family: fontAwesome;
    content: "\f09d";
}

#progressbar #confirm:before {
    font-family: fontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: skyblue;
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display:inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor:pointer;
    margin: 8px 2px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}
#order-summary {
 margin-left: 30px;
}
.order-table {
 margin-top: 50px;
}
.section-summary {
 margin-top: 50px;
}
.order-tittle {
  margin-top: 20px;
 }
 .payment-spacer {
  height: 190px;
 }
.order-tittle strong:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto 10px auto;
        padding: 2px;
       font-family: FontAwesome;
       content: "\f03a";
}
.order-tittle strong {
    list-style-type: none;
    font-size: 12px;
    float: left;
    position: relative;
    display: -ms-flexbox;
    display: flex;
}

.order-tittle strong span {
    margin-top: 15px;
    margin-left: 5px;
}
.order-split-line {
    height: 1px;
    background: #A7FAE6;
}
.order-summary-total {
 margin-top: 15px;
}
.display-none {
   display: none;
}
.checkout-address-action-btn {
    padding: 0;
    border: none;
    background: none;
}
.checkout-address-action-btn i {
    border-radius: 100%;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    transition: all 0.2s;
}
.checkout-address-action-wrap {
 margin-top: 20px;
}
.checkout-address-action-btn:hover i {
    background: #A7FAE6;
    color: #000000;
}
.header-nav-account {
    position: relative;
    padding: 30px 30px 0;
    font-size: 14px;
    line-height: 1.5;
}
#page .row {
    margin-right: 0;
}
.nav-account {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 160px;
    top: 100%;
    z-index: 3;
    right: -5px;
    border: 1px solid #CFCFCF;
    box-shadow: 0 0 5px 3px rgba(207, 207, 207, .25);
    background: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: left;
    border-radius: 5px;
}
.text-align-center {
 text-align: center;
}
.nav-account:before {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    border: 1px solid #CFCFCF;
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(45deg);
    top: -12px;
    border-bottom: 0;
    border-right: 0;
    right: 15px;
    background: #fff;
    z-index: 1;
}
@media (min-width: 992px) {
    .header-nav-account {
        padding: 25px 0;
    }
}
@media (min-width: 1025px) {
    .header-nav-account:hover .nav-account {
        visibility: visible;
        opacity: 1
    }
}

.nav-dropdown-item {
     display: block;
     padding: 4px 8px 4px 16px;
     overflow: hidden;
     color: var(--color-fg-default);
     text-overflow: ellipsis;
     white-space: nowrap;
 }
.nav-dropdown-item:hover {
  background: #A7FAE6;
}
.margin-top15 {
  margin-top: 15px;
  border-radius: 5px;
}
.nav-sign-up {
 border: 1px solid;
 border-radius: 6px;
 padding-right: 8px ;
 padding-left: 8px ;
}

.account-item {
     border-bottom: 1px dashed #e7e7e7;
     padding: 20px;
}
.account-list{
border-top: 2px #ddd solid;

padding: 0 0 0 0;

}
.a-text-bold {
    font-weight: 700;
    margin: 0;
}
.margin-0 {
 margin: 0;
}

.edit-header,.ht-type {
      width: auto;
      height: 26px;
      line-height: 26px;
      color: #ff5000;
      margin-top: 10px;
}
.section-edit-password,.section-edit-name,.section-edit-phone {
border: 1px #ddd solid;
border-radius: 4px;
padding: 0 0 0 15px;
}
.edit-wrap {
 padding: 0 0 0 0;
}
.address-wrap {
 margin-left: 15px;
}
.order-list-wrap {
    border: 1px solid #EDEDED;
    margin-bottom: 15px;
}
.order-item {
    border-bottom: 1px solid #e7e7e7;
}
.package-info-header {
     margin: 0;
     padding: 14px 0 14px 20px;
     border-bottom: 1px solid #EDEDED;
     margin-bottom: 15px;
}
.package-info-content {
margin-bottom: 10%;
}
.order-content img {
  padding: 10px;
}
.order-header {
  border: 1px #D5D9D9 solid;
  padding: 14px 0 14px 20px;
}
.section-account-info {
padding: 15px 0 30px;
}
.col-sub-item {
margin-bottom: 5px;
}
.col-sub-item a {
  text-decoration: none;
}
.a-header {
    margin: 0 0 36px;
    letter-spacing: 3px;
    text-align: center;
}
.section-account {
margin-top: 50px;
}
.a-row input {
    border: 1px solid #CECECE;
    border-radius: 3px;
}

.edit-footer input {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    text-decoration: none;
    border-radius: 3px;
        padding: 0 5px 0 5px;
        margin-bottom: 15px;
}
.edit-item {
 margin-top: 15px;
}
.edit-wrap,.action-row {
margin-top: 20px;
}
.address-wrap input {
     padding: 10px 20px;
     border: none;
     border-bottom: 1px solid #ccc;
     width: 100%;
     color: #2C3E50;
     font-size: 16px;
     letter-spacing: 0.3px;
}
.address-wrap label {
 padding: 10px 20px;
}
.section-new-address ,.section-edit-address{
padding-bottom: 50px;
}
.nav-link img {
height: 30px;
}
.section-data-privacy {
 padding: 50px;
}



.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 20px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -40px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}
.deliver-address-action:hover{
     background: #A7FAE6;
     color: #000000;
 }
 .full-search-wrap-vue {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     padding: 30px 0;
     background: rgba(255, 255, 255, .98);
     z-index: 1040;
     -webkit-transition: all 0.2s;
     -o-transition: all 0.2s;
     transition: all 0.2s;
     opacity: 1;
 }

.field-text {
     padding: 0 10px;
     border: none;
     border-bottom: 1px solid #ccc;
     width: 100%;
     color: #2C3E50;
     font-size: 16px;
     letter-spacing: 0.3px;
     height: 30px;
}

 .previous {
    width: 100px;
    background-color: transparent;
    border: 1px solid transparent;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    color: #6c757d;
    border-color: #6c757d;
}

.country-select {
    width: 84%;
    height: 90%;
}
.saved-address-select {
   width: 100%;
}
.package-info-header strong{
  padding: 10px 10px;
}
.order-content a {
text-decoration: none;
color: #007185;
}
.order-content .product-name, .order-content  .tracking,.order-fee-detail-wrap {
  padding: 35px 20px;

}
.order-info-value {
    font-size: 14px;
    line-height: 20px;
    text-transform: lowercase;
}
.order-header ul {
    margin-bottom: 0;
}
.order-header img {
    max-width: 60%;
    height: auto;
}
.notification.notification--desktop .notification__content {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-align: left;
    -webkit-user-select: none;
    user-select: none;
    word-break: break-word;
}
.notification.notification--desktop .notification__wrapper {
     align-items: center;
     box-sizing: border-box;
     display: flex;
     flex-basis: auto;
     justify-content: center;
     margin: 0 auto;
     padding: 5px;
     text-align: center;
     width: 1226px;
 }
 .notification.notification--desktop {
     align-items: center;
     background-color: darkorange;
     color: #fff;
     display: flex;
     flex-basis: auto;
     height: auto;
     justify-content: center;
     position: relative;
     width: 100%;
 }

.recommend-tab-group {
    align-items: center;
    display: flex;
    height: 17PX;
    justify-content: center;
    margin-bottom: 40PX;
    margin-top: 23PX;
}
.tab-item {
    cursor: pointer;
    padding: 0 30PX;
    position: relative;
}
.tab-item .tab-item__name {
    color: #222;
    font-size: 14PX;
    font-weight: 700;
    text-decoration: none;
}

.item-videoandimage {
    background-color: #fff;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 20PX;
    position: relative;
    width: 606Px;
}

.item-videoandimage-title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    color: #222;
    display: -webkit-box;
    font-size: 22PX;
    margin: 30PX;
    overflow: hidden;
    padding-bottom: 30PX;
    text-overflow: ellipsis;
}
.item-videoandimage-footer {
    bottom: 20PX;
    box-sizing: border-box;
    font-size: 14PX;
    line-height: 18PX;
    padding: 0 30PX;
    position: absolute;
    width: 100%;
}
.item-videoandimage-footer-time {
    float: left;
}
.item-videoandimage-playbtn {
    height: 90PX;
    left: 50%;
    margin: -45PX;
    position: absolute;
    top: 50%;
    width: 90PX;
}
.list-content {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
}
.list-content .item-videoandimage ,.list-content .item-new {
    -ms-flex: 0 0 calc(50% - 23px);
    flex: 0 0 calc(50% - 23px);
    max-width: calc(50% - 23px);
}
.tab-item__name.active {
    color: rgb(255, 103, 9);
}
.section-discover-channel{
min-height: 500px;
}
.coming-soon-wrap {
  padding: 150px 0;
}
.item-new {
     background-color: #fff;
     cursor: pointer;
     font-weight: 400;
     margin-bottom: 20PX;
     padding-bottom: 20PX;
     position: relative;
     width: 606Px;
     padding: 5px;
 }

.item-new-cover {
    background-size: cover;
    padding-bottom: 47.34411%;
    width: 100%;
}
.item-new-text {
     padding: 30PX;
 }
 .item-new-footer {
     bottom: 20PX;
     box-sizing: border-box;
     font-size: 14PX;
     line-height: 18PX;
     padding: 0 30PX;
     position: absolute;
     width: 100%;
 }
.item-new-footer-time {
    float: left;
}
.item-new-text-desc, .item-new-text-title {
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section-article{
    margin-bottom: 60Px;
    padding: 80Px 40Px 60Px;
    position: relative;
}
.weight-variants {
  padding: 16px 0 15px;
}

