.auth-continue{
margin-top: 50px;
}
.auth-form-tittle {
margin-bottom: 50px;
margin-top: 50px;
}
.form-logo {
margin-top: 20px;
}
.login-form , .signup-form {
margin-left: 50px;
margin-right: 50px;
}
.padding-0 {
 padding:unset;
}
.sign-up-link,.sign-in-link {
 color: #A7FAE6;
}
.sign-up-note{
margin-top: 20px;
}
.auth-background-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.login , .signup{
background: #F5F5F5;
}
.section-login , .section-signup{
background: #FFFFFF;
margin-bottom: 20%;
margin-top: 20%;
}
/* checkou css start */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/*Background color*/
#grad1 {
    background-color: : #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA);
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

#msform input, #msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0;
}

/*Blue Buttons*/
#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: fontAwesome;
    content: "\f2c0";
}

#progressbar #shipping:before {
    font-family: fontAwesome;
    content: "\f21a";
}

#progressbar #payment:before {
    font-family: fontAwesome;
    content: "\f09d";
}

#progressbar #confirm:before {
    font-family: fontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: skyblue;
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display:inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor:pointer;
    margin: 8px 2px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}
.order-tittle {
  margin-top: 20px;
 }
.order-tittle strong:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto 10px auto;
        padding: 2px;
       font-family: FontAwesome;
       content: "\f03a";
}
.order-tittle strong {
    list-style-type: none;
    font-size: 12px;
    float: left;
    position: relative;
    display: -ms-flexbox;
    display: flex;
}

.order-tittle strong span {
    margin-top: 15px;
    margin-left: 5px;
}
.order-split-line {
    height: 1px;
    background: #A7FAE6;
}
.display-none {
   display: none;
}

.header-nav-account {
    position: relative;
    padding: 30px 30px 0;
    font-size: 14px;
    line-height: 1.5;
}

.nav-account {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 160px;
    top: 100%;
    z-index: 3;
    right: -5px;
    border: 1px solid #CFCFCF;
    box-shadow: 0 0 5px 3px rgba(207, 207, 207, .25);
    background: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: left;
    border-radius: 5px;
}
.nav-account:before {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    border: 1px solid #CFCFCF;
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(45deg);
    top: -12px;
    border-bottom: 0;
    border-right: 0;
    right: 15px;
    background: #fff;
    z-index: 1;
}
@media (min-width: 992px) {
    .header-nav-account {
        padding: 25px 0;
    }
}
@media (min-width: 1025px) {
    .header-nav-account:hover .nav-account {
        visibility: visible;
        opacity: 1
    }
}

.nav-dropdown-item {
     display: block;
     padding: 4px 8px 4px 16px;
     overflow: hidden;
     color: var(--color-fg-default);
     text-overflow: ellipsis;
     white-space: nowrap;
 }
.nav-dropdown-item:hover {
  background: #A7FAE6;
}
.margin-top15 {
  margin-top: 15px;
  border-radius: 5px;
}
.nav-sign-up {
 border: 1px solid;
 border-radius: 6px;
 padding-right: 8px ;
 padding-left: 8px ;
}

.account-item {
     border-bottom: 1px dashed #e7e7e7;
     padding: 20px;
}
.account-list{
border-top: 2px #ddd solid;

padding: 0 0 0 0;

}
.a-text-bold {
    font-weight: 700;
    margin: 0;
}
.margin-0 {
 margin: 0;
}

.edit-header,.ht-type {
      width: auto;
      height: 26px;
      line-height: 26px;
      color: #ff5000;
      margin-top: 10px;
}
.section-edit-password,.section-edit-name,.section-edit-phone {
border: 1px #ddd solid;
border-radius: 4px;
padding: 0 0 0 15px;
}
.edit-wrap {
 padding: 0 0 0 0;
}
.address-wrap {
 margin-left: 15px;
}
.order-item {
    border-radius: 5px;
    border: 1px solid #e7e7e7;
}
.order-content img {
  padding: 10px;
}
.order-header {
  background: #F0F2F2;
  border: 1px #D5D9D9 solid;
}
.section-account-info {
padding: 15px 0 30px;
}
.col-sub-item {
margin-bottom: 5px;
}
.col-sub-item a {
  text-decoration: none;
}
.a-header {
    margin: 0 0 36px;
    letter-spacing: 3px;
    text-align: center;
}
.section-account {
margin-top: 50px;
}
.a-row input {
    border: 1px solid #CECECE;
    border-radius: 3px;
}
.edit-footer input {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    text-decoration: none;
    border-radius: 3px;
        padding: 0 5px 0 5px;
        margin-bottom: 15px;
}
.edit-item {
 margin-top: 15px;
}
.edit-wrap,.action-row {
margin-top: 20px;
}
.address-wrap input {
     padding: 10px 20px;
     border: none;
     border-bottom: 1px solid #ccc;
     width: 100%;
     color: #2C3E50;
     font-size: 16px;
     letter-spacing: 0.3px;
}
.address-wrap label {
 padding: 10px 20px;
}
.section-new-address {
padding-bottom: 50px;
}
.nav-link img {
height: 30px;
}
.section-data-privacy {
 padding: 50px;
}