<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

  <title>7nrom</title>

  <!-- Fonts -->
  <link rel="stylesheet" href="assets/fonts/Lato/Lato.css">

  <!-- Icons -->
  <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
  <link rel="stylesheet" href="assets/fonts/webfont/css/materialdesignicons.min.css">

  <!-- Libs -->
  <link rel="stylesheet" href="libs/bootstrap-4.3.1/css/bootstrap.min.css">


  <!-- Theme -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/saleos.css">
  <meta name="theme-color" content="#ECECEC">
</head>
<body class="home">

<div class="head-line"></div>

<header class="page-header header-home">
  <div class="container">
    <div class="top-bar row align-items-center">
      <div class="search col-lg-4" onclick="toggleSearch()">
        <div class="form-search-toggle js-open-search">
          <i class="search-icon flaticon-magnifying-glass-browser fi-2x"></i>
          <span>Search</span>
        </div>
        <div id="js-open-mob-menu" class="mob-menu-toggle">
          <span>Menu</span> <i class="flaticon-menu-options fi-2x"></i>
        </div>
      </div>

      <div class="logo col-lg-4">
        <a href="index.html"><img src="images/logo.png" alt=""></a>
      </div>
      <div class="quick-access-menu col-lg-4">
        <div class="quick-access__item nav-sign-in">
          <a href="authentication.html?authType=signin"><span>Sign in</span></a>
        </div>
        <div class="quick-access__item nav-sign-up">
          <a href="authentication.html"><span>Sign up</span></a>
        </div>
        <div class="quick-access__item quick-access__item_border-r nav-account-container">
          <div class="header-nav-account">
            <a href="#"><span class="account"><i class="flaticon-messenger-user-avatar fi-2x"></i></span></a>
            <div class="nav-account">
              <a href="account-security.html" class="nav-dropdown-item margin-top15"><span>My acount</span></a>
              <a href="order-history.html" class="nav-dropdown-item "><span>My order</span></a>
              <a href="/api/v1/auth/logout" class="nav-dropdown-item "><span>Sign out</span></a>
            </div>
          </div>
        </div>

        <div class="quick-access__item">
          <div class="header-mini-cart">
            <a href="cart.html" class="mini-cart-link">
              <i class="cart__icon flaticon-online-shopping-cart fi-2x"></i>
              <span class="mini-cart-link__qty">0 items</span>
            </a>
            <div class="mini-cart">
              <div class="mini-cart__content">
                <div class="empty-message">You have no items in your cart</div>
                <a href="shop.html" class="btn btn-primary btn-lg mini-cart__btn">shop more</a>
              </div>
              <div class="mini-cart__footer">
                <div class="icon-box icon-box-left justify-content-center">
                  <div class="icon-box__icon"><i class="flaticon flaticon-delivery-truck"></i></div>
                  <div class="icon-box__title">Delivery to all regions</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end of quick-access-menu -->
    </div> <!-- end of top-bar -->

    <nav class="header-navigation">
      <button class="mob-menu-close" id="js-close-mob-menu">
        <span>Close</span>
        <i class="flaticon-cancel-button"></i>
      </button>

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shop.html">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="discover.html">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
          <ul class="sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="shortcodes.html">Shortcodes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="404.html">404 Page</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="page-wrap" id="page">
  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb" class="page-breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Account</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <section class="section-account-info">
      <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2 aside">
          <ul class="col-sub">
            <li class="col-sub-item"><a href="account-security.html">Account</a></li>
            <li class="col-sub-item"><a href="deliver-address.html">Address</a></li>
            <li class="col-sub-item"><a href="data-privacy.html">Data And Privacy</a></li>
            <li class="col-sub-item"><a href="order-history.html">Order History</a></li>
          </ul>
        </div>
        <div class="col-lg-6 padding-0">
          <div class="main">
            <div class="a-header"><h3 class="simple-heading mb-4">account info</h3></div>
            <section class="section-account">
              <ul class="account-list">
                <li class="account-item">
                  <div class="row margin-0">
                    <div class="col-8">
                      <div class="a-row"><h4 class="a-text-bold">email:</h4></div>
                      <div class="a-row"><span>{{customer.email}}</span></div>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
                </li>
                <li class="account-item">
                  <div class="row margin-0">
                    <div class="col-8">
                      <div class="a-row"><h4 class="a-text-bold">name:</h4></div>
                      <div class="a-row"><span>{{customer.username}}</span></div>
                    </div>
                    <div class="col-4">
                      <div class="btn-container-inner">
                        <button type="submit" class="btn btn-outline-primary btn-block" @click="activeEditForm(1)">edit</button>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="account-item">
                  <div class="row margin-0">
                    <div class="col-8">
                      <div class="a-row"><h4 class="a-text-bold">password:</h4></div>
                      <div class="a-row"><span>******</span></div>
                    </div>
                    <div class="col-4">
                      <div>
                        <button type="submit" class="btn btn-outline-primary btn-block" @click="activeEditForm(2)">edit</button>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="account-item">
                  <div class="row margin-0">
                    <div class="col-8">
                      <div class="a-row"><h4 class="a-text-bold">phone:</h4></div>
                      <div class="a-row"><span>{{customer.mobile}}</span></div>
                    </div>
                    <div class="col-4">
                      <div>
                        <button type="submit" class="btn btn-outline-primary btn-block" @click="activeEditForm(3)">edit</button>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </section>
            <section class="section-edit-name" v-show="currentActiveForm == 1">
              <div class="edit-header"><span>edit name</span></div>
              <ul class="edit-wrap">
                <li class="edit-item">
                  <div class="a-row"><span class="a-text-bold">new name:</span></div>
                  <div class="a-row"><input type="text" maxlength="400" v-model="customer.name" required></div>
                </li>
              </ul>
              <div class="edit-footer">
                <input type="submit" @click="debounceEditAccountName()">
              </div>
            </section>
            <section class="section-edit-password" v-show="currentActiveForm == 2">
              <div class="edit-header"><span>edit password</span></div>
              <ul class="edit-wrap">
                <li class="edit-item">
                  <div class="a-row"><span class="a-text-bold">new password:</span></div>
                  <div class="a-row"><input type="password" maxlength="200" id="password"  v-model="customer.password" required></div>
                </li>
                <li class="edit-item">
                  <div class="a-row"><span class="a-text-bold">confirm password:</span></div>
                  <div class="a-row"><input type="password" id="confirmed-password" v-model="customer.confirmPassword" @change="checkPasswords()" required></div>
                </li>
              </ul>
              <div class="edit-footer">
                <input type="submit" @click="debounceEditAccountPassword()">
              </div>
            </section>
            <section class="section-edit-phone" v-show="currentActiveForm == 3">
              <div class="edit-header"><span>edit phone</span></div>
              <ul class="edit-wrap">
                <li class="edit-item">
                  <div class="a-row"><span class="a-text-bold">new phone:</span></div>
                  <div class="a-row"><input id="edit-customer-phone" maxlength="50" type="text" v-model="customer.phone" required></div>
                </li>
              </ul>
              <div class="edit-footer">
                <input type="submit" @click="debounceEditAccountPhone()">
              </div>
            </section>
          </div>
        </div>
        <div class="col-lg-2">

        </div>
      </div>
    </section>

  </div>
  <div class="full-search-wrap-vue" v-show="showSearchWrap">
    <div class="full-search container">
      <div @click="toggleSearch()" class="close-s float-right js-close-search flaticon-cancel-button fi-2x" ></div>
      <form action="search-result.html" class=" search-full-form">
        <div class="position-relative">
          <i class="search-icon flaticon-magnifying-glass-browser fi-2x"></i>
          <input type="text" id="s-full" name="keyword" class="search-full-form__input" placeholder="Search">
          <input type="submit" class="d-none">
        </div>
        <p class="hint">Type in your search and press enter</p>
      </form>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="foot-info row">
      <div class="col-md-8">
        <div class="d-lg-flex align-items-end text-center text-md-left">
          <a href="/" class="logo">
            <img src="images/logo-white.png" alt="">
          </a>
          <div class="ml-lg-4 page-footer__text">Is a online shopping mall  for unique products.</div>
        </div>
      </div>

      <div class="social col-md-4">
        <span>Follow us:</span>
        <ul class="social-links ml-md-3">
          <li><a href="#"><i class="mdi mdi-pinterest"></i></a></li>
          <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
          <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
          <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCF0FWUGaCZdynP-HfK7Uz5g/featured"><i class="mdi mdi-youtube-play"></i></a></li>
        </ul>
      </div>
    </div>

    <nav class="footer-navigation">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shop.html">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="discover.html">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="footer-bottom">
      <div class="copyright">Copyright &copy; 2022. 7nrom,Inc All rights reserved.</div>
      <ul class="footer-bottom__menu">
        <li><a href="https://www.iubenda.com/privacy-policy/40023955">Privacy Policy</a></li>
        <li><a href="/terms-of-use.html">Terms of use</a></li>
      </ul>
    </div>
  </div>
</footer>



<div id="js-back-to-top" class="back-to-top"><i class="flaticon-up-arrow-sign"></i> Page top</div>


<!-- Libs -->
<script src="libs/jquery-2.2.3.min.js"></script>
<script src="libs/bootstrap-4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="libs/jsencrypt.min.js"></script>
<script src="libs/lodash.min.js"></script>


<!-- Theme -->
<script src="assets/js/custom.js"></script>

<!-- logic -->
<script src="assets/js/saleos.js"></script>
<script src="assets/js/account-security.js"></script>

</body>
</html>