<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <title>7nrom</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="assets/fonts/Lato/Lato.css">

    <!-- Icons -->
    <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="assets/fonts/webfont/css/materialdesignicons.min.css">

    <!-- Libs -->
    <link rel="stylesheet" href="libs/bootstrap-4.3.1/css/bootstrap.min.css">


    <!-- Theme -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/saleos.css">
    <meta name="theme-color" content="#ECECEC">
</head>
<body class="home">

<div class="head-line"></div>

<header class="page-header header-home">
    <div class="container">
        <div class="top-bar row align-items-center">
            <div class="search col-lg-4" onclick="toggleSearch()">
                <div class="form-search-toggle js-open-search">
                    <i class="search-icon flaticon-magnifying-glass-browser fi-2x"></i>
                    <span>Search</span>
                </div>
                <div id="js-open-mob-menu" class="mob-menu-toggle">
                    <span>Menu</span> <i class="flaticon-menu-options fi-2x"></i>
                </div>
            </div>

            <div class="logo col-lg-4">
                <a href="index.html"><img src="images/logo.png" alt=""></a>
            </div>
            <div class="quick-access-menu col-lg-4">
                <div class="quick-access__item nav-sign-in">
                    <a href="authentication.html?authType=signin"><span>Sign in</span></a>
                </div>
                <div class="quick-access__item nav-sign-up">
                    <a href="authentication.html"><span>Sign up</span></a>
                </div>
                <div class="quick-access__item quick-access__item_border-r nav-account-container">
                    <div class="header-nav-account">
                        <a href="#"><span class="account"><i class="flaticon-messenger-user-avatar fi-2x"></i></span></a>
                        <div class="nav-account">
                            <a href="account-security.html" class="nav-dropdown-item margin-top15"><span>My acount</span></a>
                            <a href="order-history.html" class="nav-dropdown-item "><span>My order</span></a>
                            <a href="/api/v1/auth/logout" class="nav-dropdown-item "><span>Sign out</span></a>
                        </div>
                    </div>
                </div>

                <div class="quick-access__item">
                    <div class="header-mini-cart">
                        <a href="cart.html" class="mini-cart-link">
                            <i class="cart__icon flaticon-online-shopping-cart fi-2x"></i>
                            <span class="mini-cart-link__qty">0 items</span>
                        </a>
                        <div class="mini-cart">
                            <div class="mini-cart__content">
                                <div class="empty-message">You have no items in your cart</div>
                                <a href="shop.html" class="btn btn-primary btn-lg mini-cart__btn">shop more</a>
                            </div>
                            <div class="mini-cart__footer">
                                <div class="icon-box icon-box-left justify-content-center">
                                    <div class="icon-box__icon"><i class="flaticon flaticon-delivery-truck"></i></div>
                                    <div class="icon-box__title">Delivery to all regions</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end of quick-access-menu -->
        </div> <!-- end of top-bar -->

        <nav class="header-navigation">
            <button class="mob-menu-close" id="js-close-mob-menu">
                <span>Close</span>
                <i class="flaticon-cancel-button"></i>
            </button>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="discover.html">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="shortcodes.html">Shortcodes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="404.html">404 Page</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="page-wrap" id="page">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb" class="page-breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Address</li>
            </ol>
        </div>
    </nav>
    <div class="page-content">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2 aside">
                <div class="col-sub">
                    <div class="col-sub-item"><a href="account-security.html">Account</a></div>
                    <div class="col-sub-item"><a href="deliver-address.html">Address</a></div>
                    <div class="col-sub-item"><a href="data-privacy.html">Data And Privacy</a></div>
                    <div class="col-sub-item"><a href="order-history.html">Order History</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main">
<!--                    <div class="a-header"><h4>Address</h4></div>-->
                    <section v-show="currentActiveForm == 1" class="section-new-address">
                        <div class="header-tips">
                            <span class="ht-type">new address</span>
                        </div>
                        <div class="address-wrap">
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>Address line 1</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" name="line-1-address" maxlength="200" v-model="formShipping.addressLine1"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>Address line 2</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" name="line-2-address" maxlength="200" v-model="formShipping.addressLine2"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>City</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" name="city" maxlength="200" v-model="formShipping.city"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>State</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" maxlength="200" name="state" v-model="formShipping.state"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>Country</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" name="country" id="add-country" maxlength="200" v-model="formShipping.country" required/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label class="pay">Postcode</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" name="postcode" id="add-postcode" maxlength="200" placeholder="" v-model="formShipping.postalCode" required/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label class="pay">Phone</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" name="phone" id="add-mobile" maxlength="50" placeholder="" v-model="formShipping.mobile" required/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label class="pay">Receiver</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" name="phone" id="add-name" maxlength="400" placeholder="" v-model="formShipping.receiver" required/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row action-row">
                                <div class="col-3 col-sm-4">
                                </div>
                                <div class="col-9 col-sm-8">
                                    <button type="button" class="btn btn-primary" @click="debounceAddAddress()">Save</button>
                                </div>
                            </div>
                        </div>

                    </section>
                    <section v-show="currentActiveForm == 2"  class="section-edit-address">
                        <div class="header-tips">
                            <span class="ht-type">edit address</span>
                        </div>
                        <div class="address-wrap">
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>Address line 1</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" maxlength="200" name="line-1-address" v-model="formShipping.addressLine1"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>Address line 2</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" maxlength="200" name="line-2-address" v-model="formShipping.addressLine2"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>City</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" maxlength="200" name="city" v-model="formShipping.city"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>State</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" maxlength="200" name="state" v-model="formShipping.state"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label>Country</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" id="edit-country" maxlength="200" name="country" v-model="formShipping.country"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label class="pay">Postcode</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" id="edit-postcode" maxlength="200" name="postcode" placeholder="" v-model="formShipping.postalCode"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label class="pay">Phone</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" id="edit-mobile" maxlength="50" name="phone" placeholder="" v-model="formShipping.mobile"/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-4">
                                    <label class="pay">Receiver</label>
                                </div>
                                <div class="col-7 col-sm-6">
                                    <input type="text" name="phone" id="edit-name" maxlength="400" placeholder="" v-model="formShipping.receiver" required/>
                                </div>
                                <div class="col-2"></div>
                            </div>
                            <div class="row action-row">
                               <div class="col-3 col-sm-4"></div>
                               <div class="col-9 col-sm-8">
                                 <button type="button" class="btn btn-primary" @click="debounceEditAddress()">Save</button>
                               </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
            <div class="col-lg-2">
            </div>


        </div>
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-8">
                <section class="section-address-list">
                    <table class="address-table address table" id="address-table">
                        <thead>
                        <tr>
                            <th class="address-fullname">Receiver</th>
                            <th class="address-country">Country</th>
                            <th class="address-state">State</th>
                            <th class="address-city">City</th>
                            <th class="address-line-2">address-line-2</th>
                            <th class="address-line-1">address-line-1</th>
                            <th class="address-postalCode">Postcode</th>
                            <th class="address-phone">Phone</th>
                            <th class="address-action">Option</th>
                        </tr>
                        </thead>
                        <tbody v-for="address in addressList">
                        <tr class="address-item">
                            <td class="address-fullname">
                                <span>{{address.receiver}}</span>
                            </td>
                            <td class="address-country">
                                <span>{{address.country}}</span>
                            </td>
                            <td class="address-state">
                                <span>{{address.state}}</span>
                            </td>
                            <td class="address-city">
                                <span>{{address.city}}</span>
                            </td>
                            <td class="address-line-2">
                                <span>{{address.addressLine2}}</span>
                            </td>
                            <td class="address-line-1">
                                <span>{{address.addressLine1}}</span>
                            </td>
                            <td class="address-postalCode">
                                <span>{{address.postalCode}}</span>
                            </td>
                            <td class="address-phone">
                                <span>{{address.mobile}}</span>
                            </td>
                            <td class="address-action">
                                <div class="row">
                                    <div class="col-4 padding-0">
                                        <span class="address-action__edit deliver-address-action" @click="goEditForm(address.id)">edit</span>
                                    </div>
                                    <div class="col-2 padding-0 text-align-center">
                                        <span>|</span>
                                    </div>
                                    <div class="col-6 padding-0">
                                        <span class="deliver-address-action" @click="delAddress(address.id)">delete</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>

    </div>
    <div class="full-search-wrap-vue" v-show="showSearchWrap">
        <div class="full-search container">
            <div @click="toggleSearch()" class="close-s float-right js-close-search flaticon-cancel-button fi-2x" ></div>
            <form action="search-result.html" class=" search-full-form">
                <div class="position-relative">
                    <i class="search-icon flaticon-magnifying-glass-browser fi-2x"></i>
                    <input type="text" id="s-full" name="keyword" class="search-full-form__input" placeholder="Search">
                    <input type="submit" class="d-none">
                </div>
                <p class="hint">Type in your search and press enter</p>
            </form>
        </div>
    </div>

</div>

<footer class="page-footer">
    <div class="container">
        <div class="foot-info row">
            <div class="col-md-8">
                <div class="d-lg-flex align-items-end text-center text-md-left">
                    <a href="/" class="logo">
                        <img src="images/logo-white.png" alt="">
                    </a>
                    <div class="ml-lg-4 page-footer__text">Is a online shopping mall  for unique products.</div>
                </div>
            </div>

            <div class="social col-md-4">
                <span>Follow us:</span>
                <ul class="social-links ml-md-3">
                    <li><a href="#"><i class="mdi mdi-pinterest"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCF0FWUGaCZdynP-HfK7Uz5g/featured"><i class="mdi mdi-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>

        <nav class="footer-navigation">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="discover.html">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="footer-bottom">
            <div class="copyright">Copyright &copy; 2022. 7nrom,Inc All rights reserved.</div>
            <ul class="footer-bottom__menu">
                <li><a href="https://www.iubenda.com/privacy-policy/40023955">Privacy Policy</a></li>
                <li><a href="/terms-of-use.html">Terms of use</a></li>
            </ul>
        </div>
    </div>
</footer>


<div id="js-back-to-top" class="back-to-top"><i class="flaticon-up-arrow-sign"></i> Page top</div>


<!-- Libs -->
<script src="libs/jquery-2.2.3.min.js"></script>
<script src="libs/bootstrap-4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="libs/lodash.min.js"></script>




<!-- Theme -->
<script src="assets/js/custom.js"></script>

<!-- logic -->
<script src="assets/js/deliver-address.js"></script>
<script src="assets/js/saleos.js"></script>

</body>
</html>