<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.et.be.online.mapper.CustomerAddressMapper">
    <sql id="tableName">
        customer_address
    </sql>

    <sql id="baseColumn">
        id,user_id,address_line1,address_line2,city,postal_code,country,telephone,mobile,created_at,modified_at
    </sql>

</mapper>