<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.et.be.online.mapper.ProductCategoryMapper">
    <sql id="tableName">
        product_category
    </sql>

    <sql id="baseColumn">
        id,category_name,category_desc,created_at,modified_at,deleted_at
    </sql>

</mapper>