<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.et.be.online.domain.mapper.SpecificationMapper">
    <sql id="tableName">
        specification
    </sql>

    <sql id="baseColumn">
        id,product_id,color,created_at,modified_at
    </sql>

</mapper>